# Ignorar dependencias locales y caché de npm/yarn/pnpm
node_modules
npm-debug.log
yarn-error.log
.pnpm-debug.log

# Ignorar configuraciones locales y entornos
!.env.local
!.env
.env.development
.env.test
.env.production

# Ignorar caché de Next.js, pero no la build
.next/cache

# Ignorar archivos de logs y reportes
*.log
logs/
coverage/
.cache
playwright-report/

# Ignorar configuraciones locales específicas del sistema operativo o IDEs
.DS_Store
Thumbs.db
.vscode/
.idea/